<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675536928491-hreb8m1rdeoqtrqtu1pttrbieoeki6rs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675536928491-hreb8m1rdeoqtrqtu1pttrbieoeki6rs</string>
	<key>API_KEY</key>
	<string>AIzaSyAPO6PS5dTayukG5TIyIXFl1D9aHg1e2R4</string>
	<key>GCM_SENDER_ID</key>
	<string>675536928491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userapp</string>
	<key>PROJECT_ID</key>
	<string>rksh-user-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rksh-user-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675536928491:ios:9c7fed9fda85202ca108ae</string>
</dict>
</plist>